@model ScottRafael_NSCCCourseMap.Models.Program

@{
    ViewData["Title"] = "Details";
}

<h2>College Program Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Concentrations)
        </dt>
        @foreach (var item in Model.Concentrations)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Title)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
