@model ScottRafael_NSCCCourseMap.Models.CourseOffering

@{
    ViewData["Title"] = "Details";
}

<h2>Course Offering Details</h2>

<div>
    <h4>CourseOffering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseFull)
        </dd>
        <dt>
            Concentration
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concentration.Title)
        </dd>
        <dt>
            Semester
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester.Name)
        </dd>
        <dt>
           Campus Course?
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.IsCampusCourse)
          
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
